

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');


body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 2px solid #5f340c;
    background-color: rgb(223, 189, 159);
}

footer {
    position: bottom;
}

a {
    text-decoration: none;
    color:#61351d;
}

html {
    background-color: #a37e68;
    font-family: "Nunito", serif;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* grid-template-rows: auto;
    grid-auto-flow: row;
    justify-content: space-evenly; */
}

.colored-text {
    color:#402B27;
}

div {
    color:#350d05;
}

footer {
    padding: 35px;
    background-color: rgb(223, 189, 159);
    border-top: 2px solid #5f340c;
    border-bottom: 2px solid #5f340c;
}

tbody tr:nth-child(odd) {
    background-color: rgb(223, 189, 159);
}

/* li:nth-child(odd) {
    background-color:rgb(223, 189, 159)
} */
